body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(240, 205, 211);
}

header {
    background-color: rgb(174, 174, 244);
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color:white;
    padding: 12px 12px; 
}

nav a:hover {
    background-color: lightskyblue;
}
.tarjeta {
    background: white;
    padding: 20px;
    margin: 20px;
}

.tarjeta:hover {
    transform: scale(1.03);
}

button,
input [type="submit"] {
    padding: 10px 15px;
    background-color: lightskyblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover,
input [type="submit"]:hover {
    background-color: darkblue;
}

form {
    background: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    width: 80%;
    margin: 50px;
}

footer{
    background-color: rgb(174, 174, 244);
    color: black;
    text-align: center;
    padding: 15px;
}