body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(240, 205, 211);
}

header {
    background-color: rgb(174, 174, 244);
    color: black;
    padding: 20px;
    text-align: center;
}

.grid{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    width: 80%;
    margin: 50px;
}

.caja{
    
    padding: 40px;
    background: rgb(142, 191, 225);
    color: white;
    font-size: 36px;
}

@media (max-width: 800px) {
    .grid{
        grid-template-columns: 1fr;
    }

    .caja{
        background-color: orange;
        font-size: 50px;
    }
}

@media (max-width: 500px){
    body{
        background-color: lightgray;
    }
}

footer{
    background-color: rgb(174, 174, 244);
    color: black;
    text-align: center;
    padding: 15px;
}